<!DOCTYPE html>
<html>
<head>
    <title>Strava Converter</title>
    <script src="js/lib/angular.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="styles/styles.css"/>
</head>
<body ng-app="stravaApp">
    <div id="all" ng-controller="StravaUserController">
        <p>Welcome {{user}}</p>

        <p>You have the following rides:</p>
        <a ng-click="showAll = !showAll" href="">toggle just errors</a>
        <a ng-click="fixAll()" href="">fix all</a>

        <div ng-hide="!isFixing">
            <p>Fixing {{currentlyFixing}} of {{toBeFixed}}</p>
        </div>

        <ol>
            <li ng-repeat="ride in rides" ng-class="getRideClassString(ride)" ng-hide="shouldHide(ride)">
                <a ng-hide='"ride"==getRideClassString(ride)' ng-click="fix(ride)" href="">fix</a>
                {{ride.name}} it is {{isPublicToString(ride)}} and it was {{isOnATainerString(ride)}}.
            </li>
        </ol>
        <a ng-click="getNextPage()" ng-hide="-1 == page" href="">more</a>
    </div>
</body>
</html>